<div class="product-details">
    <section>
        <h4>{{@product.name}}</h4>
        <span class={{unless @isDetails 'text-warning h4' "text-black-50"}}>{{currency @product.price}} each</span>
    </section>
</div>