{{page-title "Emberjs Project"}}

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <LinkTo class="navbar-brand" @route='index'>Home</LinkTo>
        <LinkTo @route='cart' class="cart-icon">
            <i class="fas fa-shopping-cart"></i>
        </LinkTo>
    </div>
</nav>

{{outlet}}